[submodule "lib"]
	path = lib
	url = ssh://git@gitea.mooim.com:2222/GO.APP/go-lib.git
[submodule "app/http/middleware"]
	path = app/http/middleware
	url = ssh://git@gitea.mooim.com:2222/GO.APP/gin-middleware.git
